body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e1e0df;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-size: 110%;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    /* color: rgb(125, 171, 209); */
 }

a:hover {
    text-decoration: underline;
 }