body { 
    background-color: #e1e0df;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5cm;
    margin-right: 5cm;
    font-size: 110%;
}

h1 {
    text-align-last: center;
    margin-bottom: 2cm;
}

h2 {
    text-align-last: center;
}

.Portfolio {
    
    width: 50%;
    height: max-content;
    float:right;
    margin-bottom: 2cm
    
} 

.proj {
    float:left;
    width:50%;
    height: max-content;
    margin-bottom: 2cm
    
}

.kontakty {
    width: 50%;
    height: max-content;
    float:right;
    text-align: center;
}

.Muzyka {
    width: 50%;
    height: max-content;
    float:left;
    text-align: center;
}

a {
    text-decoration: none;
    /* color: rgb(125, 171, 209); */
 }

a:hover {
    text-decoration: underline;
 }